.button {
    padding: 10px 30px ;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}

.primary {
    background: var(--light-green);
    margin-right: 27px;
}
.secondary {
    background: transparent;
    border: 1px solid var(--light-green);
    color: var(--light-green);
}
.default {
    padding: 10px 20px;
    background: var(--green);
}