.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-menu{
    max-width: 564px;
}
.header-menu  ul {
    display: flex;
    gap: 40px;
}
.header-contacts{
    display: flex;
}
.header-lupa {
    margin-right: 40px;
}