
:root {
  --body-color:#FFFFFF;
  --light-gray:rgba(23, 23, 23, 0.3);
  --gray:rgba(23, 23, 23, 0.4);
  --light-green:#DEF7B1;
  --green:#99B400;
  --dark-green:#163226;
  --inter-font-family:"Inter", sans-serif;
  --manrope-font-family:"Manrope", sans-serif;
  --semi-bold:600;
  --regular:400;
  --medium:500;
  --bold:700;
  --black:800;
}
body {
  background: var(--body-color);
  font-family: var(--manrope-font-family);
  font-weight: var(--regular);
  font-style: normal ;
  color: var(--dark-green);
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--dark-green);
}

h1,h2,h3,h4,h5,p,ul{
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}